@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
   
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: #2a0030;
background-image: url("https://www.transparenttextures.com/patterns/polonez-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.container{
    width: 100%;
    margin: 1em auto;
    
  }
  
  .grid{
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
  }
  
  .Modal-image{
    
    margin: auto;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

  
  }
  .bold{
    font-weight: bold;
  }
  .title{
    
font-style: normal;
font-weight: 700;
font-size: 18px;

  }
.title-btn{
    font-weight: 500;
    font-size: 16px;
  }
.logo{
  position: absolute;
width: 156px;
height: 54px;
left: 121px;
top: 11px;
background-image: url(logo.png);
}
.main-title{
  font-weight: 700;
  padding: auto;
  font-size: 24px;
line-height: 28px;
}
.rating-tag{
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  background: white;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 1.5rem;
  border-radius: 100%;
  border: 1px solid #000000;
}
.not-found{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}